@media (max-width: 768px) {
    .notes-learningTracker-Bookmarks {
        flex-direction: column;
        align-items: center;
    }

    .notes,
    .learning-tracker,
    .bookmarks {
        width: 90%;
    }
}